<app-navbar></app-navbar>

<br>
<br>
<br><br>
<br><br>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    
    .banner {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    
    .banner img {
        width: 100%;
    }
    
    .heading {
        position: absolute;
        top: 5%;
        left: 58%;
        width: 400px;
        text-align: right;
        /* background-color: #000000c9; */
        /* border-top-left-radius: 6px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 0px; */
    }
    
    .p {
        position: absolute;
        top: 15.4%;
        height: 7%;
        ;
        left: 58%;
        width: 400px;
        text-align: right;
        /* background-color: #000000c9;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 6px; */
    }
</style>


<div class="container-fluid d-flex justify-content-center align-content-center">
    <div class="row">
        <div class="banner">
            <div class="container">
                <img style="border-radius: 6px;" src="/assets/img/restaurant-ingles.jpg" class="img-fluid animated fadeIn" alt="Responsive image">
                <div class="container" style="
                    width:400px; 
                    height: 200px; 
                    background-color: #000000c9;
                    border-radius: 10px;
                    border: 5px;
                    border-color: #26b7d3;
                    position: absolute;
                    top: 5%;
                    left: 58%;
                
                    ">
                    <div style="margin-top:60px">
                        <h1 class=" d-flex justify-content-center animated fadeIn mt-3" style="color: #c5c5c5; font-family: sunniland;">Welcome</h1>
                        <h3 class=" d-flex justify-content-center animated fadeIn" style="color: #c5c5c5">We are glad to have you.</h3>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>