<div class="container-fluid">
    <section style="height:180px;"></section>
    <!----------- Footer ------------>
    <footer class="footer-bs" style="box-sizing: border-box;">
        <div class="row justify-content-around">
            <div class="col-md-3 footer-brand animated fadeInLeft">

                <label class="text-white mb-2" style="font-family: sunniland; font-size: 25px;">
                    <img class="mr-2" src="/assets/img/fooddome_118034.ico" style="width: 55px;" alt="">
                    ReserveNow</label>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>

            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a [routerLink]="['/home']">Home</a></li>
                        <li><a [routerLink]="['/restaurantes']">Restaurants</a></li>
                        <li><a [routerLink]="['/reservaciones']">Reservations</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a>Facebook</a></li>
                    <li><a>Twitter</a></li>
                    <li><a>Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <section style="text-align:center; bottom: 5px; left: 50%;">
        <p>© 2020 Abdias Cuevas</p>
    </section>

</div>